* {
    margin: 0px;
}

html, body {
    height: 99%;
    --console-color: #383838;
    --console-text-color: #f0f0f0;
}

.console {
    font-size: 14px;
    font-family: monospace;

    width: 100%;

    color: #f0f0f0;
}

#output.console {
    background-color: #383838;

    height: 100%;

    overflow-x: auto;
    overflow-y: auto;

    white-space: pre;
    word-wrap: break-word;
}

#input.console {
    background-color: #494949;

    position: fixed;
    bottom: 0px;

    resize: none;
}

.window {
    background-color: #494949;
    color: #f0f0f0;

    border: solid #252525 2px;
    border-radius: 2%;

    position: fixed;
    z-index: 999;
    
    right: 10px;
    top: 10px;

    opacity: 0.2;
}

.window:hover {
    opacity: 1;
}

.windowHeader {
    width: 100%;
    height: 20px;
    background-color: #252525;
}

.windowHeaderBtn {
    font-family: monospace;

    width: 100%;
    height: 100%;

    background-color: inherit;
    color: inherit;
    border: inherit;

    cursor: pointer;
    border: none;
    outline: none;

    text-align: left;
}

#openWindowBtn {
    
}

#openWindowBtn::after {
    content: "\02795"; /* + */
    float: right;
}

#closeWindowBtn {
    
}

#closeWindowBtn::after {
    content: "\2796"; /* - */
    float: right;
}

.windowContent {
    padding: 10px;

    font-size: 14px;
    font-family: monospace;
    color: #f0f0f0;
}

.window .windowTitle {
    color: #ffffff;

    font-weight: bold;
    font-size: 20px;
    font-family: monospace;

    text-align: center;
    margin-bottom: 10px;
}
